.profile-dropdown {
	list-style: none;
	position: absolute;
	top: 100%;
	right: 0;
	background: #0b0c10;

	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	padding: 10px 0;
	width: 160px;
	z-index: 1000;
}

.dropdown-user-info {
	display: block;
	padding: 8px 12px;
	color: #333;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: 8px 12px;
	text-align: left;
	color: #333;
	text-decoration: none;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 14px;
}

.logout-btn {
	color: red;
	font-weight: bold;
}
